<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #33fff5;"></span>
		<span class="sg-label">
			$color-brand-turqoise <br />
			#33fff5
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #231f20;"></span>
		<span class="sg-label">
			$color-brand-charcoal <br />
			#231f20
		</span>
	</li>
</ul>
